@{
  ViewBag.Title = "title";
  Layout = "_Layout";
}

<h2>Test API Auth</h2>

<div>
  <h3>Api1 Controller</h3>
  <p>@(ViewBag.Api1ScopeResponse)</p>
</div>
<div>
  <h3>Api2 Controller</h3>
  <p>@(ViewBag.Api2ScopeResponse)</p>
</div>
<div>
  <h3>Groot Controller</h3>
  <p>@(ViewBag.GrootScopeResponse)</p>
</div>
